---
---

@import "{{ site.theme }}";

header {
    background: #401EB5;
}

#banner {
    background: #02B9FA;
    border: 1px solid #02B9FA;
}

#banner .button {
    background: #0276FA;
    border: 1px solid #401EB5;
    color: #FFFFFF;
}
