---
---

@import "{{ site.theme }}";

header {
    background: #4A13B8; // Dark purple CodandoTV
}

#banner {
    background: #000000;
    border: 1px solid #02B9FA;
}

#banner .button {
    background: #4A13B8; // Dark purple CodandoTV
    border: 1px solid #38B6FF; // Blue CodandoTV
}

#banner .button strong {
    color: #FFFFFF;
}

#banner .button:hover {
    background: #722EFF; // Light Purple CodandoTV
    border: 1px solid #401EB5;
}

body {
    background: #38B6FF; // Blue CodandoTV
}

section {
    background: #FFFFFF;
}

nav ul {
    font-size: 18px;
}

nav ul li {
    line-height: 25px;
}
