name: Build and Test for PRs

on:
  pull_request:
    branches:
      - "*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - uses: actions/checkout@v4
      - name: Setup Java
        uses: ./.github/actions/java

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 31
          build-tools: "31.0.0"
          ndk-version: "23.1.7779620"

      - name: Build the project
        run: ./gradlew assembleDebug --no-daemon
        working-directory: android_kmp

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - uses: actions/checkout@v4
      - name: Setup Java
        uses: ./.github/actions/java

      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest --no-daemon
        working-directory: android_kmp
